@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";

    var productoID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";

    var db = Database.Open("VIDEO");
    var sqlSelect = "SELECT * FROM Peliculas WHERE id = @0";

    var producto = db.QuerySingle(sqlSelect,productoID);

   

   

    var db2 = Database.Open("VIDEO");
    var sqlSelect2 = "SELECT * FROM Comentarios " +
                    
                    "WHERE idPelicula = @0";

    var comentarios =  db2.Query(sqlSelect2,productoID);


    /*****************************/

   }

@if(producto == null)
{
    <p>
        No ha sido posible recuperar los detalles del producto.
        Intenta buscarlo en una de las categorias de la izquierda.
    </p>
}
else
{
    Page.Title = producto.Titulo;
    <text>
        <h1>@producto.Titulo</h1>
        <div id="productoDetails">
            <div style="display: flex;">  <!--ERROR EN COMPATIBILIDAD, BUSCAR DISPLAY COMPATIBLE-->
                <img src="~/imgs/@producto.Portada" style="border: 0;" alt="imgen">
                <div style="margin-left: 10px;">
                    <p style="padding-bottom: 5px;">Año: @producto.Anyo</p>
                    <p style="padding-bottom: 5px;">Duracion: @producto.Duracion min</p>
                    <p style="padding-bottom: 5px;">Pais: <img src="~/imgs/@producto.Pais" title="Alemania" alt="imgen"/></p>
                </div>
            </div>
            <div style="margin-top:20px ">
                <p>Reparto: @producto.Actores min</p><br/>
                <p>Sipnosis: @producto.Sipnosi</p>

            </div>

            <br /> <br />
            <div style="text-align: center;">
            <div id="pedidoForm" style="margin:  0 auto;">
            <form action="~/" method="post">
                <fieldset>
                    <legend>Descargar Pelicula</legend>
                    
                    <p>
                        <!--INTENTAR HACER UNA CONSULTA PARA ENSEÑAR LA CATEGORIA CORRESPONDIENTE A LA PELICULA-->
                        <!-- -->
                        <!--@@Html.Hidden("productoID", id)-->
                      
                        <a  href="@producto.Torrent" style="color: #334455">Descargar</a>
                    </p>
                </fieldset>
            </form>

                <!-- MIRAR COMO INSERTAR CORRECTAMENTE LOS BOTONES DE LAS REDES SOCIALES -->
        </div>
            </div>
            <br /> 





    <div id="lista-comentarios">

        <div class="barra-comentarios">
		    <div class="barra-izq"><span class="">Comentarios</span></div>		
		</div>

        <ul class="comentarios">
        @if(comentarios.Count() == 0){
            <li>Se el primero en comentar</li>
            <li></li>
        }
        
        @foreach(var item2 in comentarios)
        {
            <li>
                <div class="com_capa_avatar">
                    <img src="/imgs/no_avatar_m.png" width="50px" height="50px" class="avatar" alt="Avatar" style="border: 0;">
                </div>

			    <div class="com_capa_globo">
                    <img src="/imgs/globo.png" style="border: 0;" alt="Avatar">
                </div>

			    <div class="com_capa_ppal">
			        <div class="cabecera">				
			            <span class="usuario"><a style="color: #808080;" href="#">@item2.Usuario</a></span>
			            <span class="fecha"><!--Hoy, 16:41--></span>                 
			        </div>

                    <div class="cuerpo">@item2.Comentario</div>

                </div>
			
            </li>
       }
 
        </ul>
    </div>
            <div class="seccion">Dejar comentario</div>
            <div class="box">
           @if(WebSecurity.IsAuthenticated) {
               
            
                <div style="text-align:'center';">
                 <form class="formulario-login" action="~/insertarComentario.cshtml" method="post">
                     <div style="text-align: left; display: none;"><!--MUY VULNERABLE-->
                         Usuario: <br /><input type="text" name="usuario" value="@WebSecurity.CurrentUserName" />
                     </div>
                    
                     <div style="display: none;"> <!--MUY VULNERABLE-->
                        <input type="text" name="idPelicula" value="@productoID" />
                     </div>
                    <br />
                     <div style="text-align: left;">
                        <p>Comentario: [Campo obligatorio]<br><textarea name="comentario" style="height:60px;width:99%;font-size:11px;color:#334455"></textarea></p>
                     </div>

                     <p>

                        <input name="Enviar" type="submit" value="Enviar comentario" class="boton">
                    </p>			
				    
				</form>
                </div>
                <br><br>
          

               }

                else{
                    <p>No estas registrado para poder comentar</p>


                }
              </div>
            
        </div>


        
    </text>
}


