@helper AccountSummary()
{
	var cartItemCount = 0;
	

   if(WebSecurity.IsAuthenticated) {
   		<text>
			
			Bienvenido <a href="@Href("~/Account/ChangePassword")">@WebSecurity.CurrentUserName</a> |
			
			<a href="@Href("~/Account/Logout")">Cerrar Sesion</a>
			@* codigo de administracion_ (MODIFICAR EL ADMIN) *@


			@if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin"))
			{
				<text>
				| <a href="@Href("~/Admin/Default")">Admin</a>
				</text>
			}

		</text>
   } 
   else {
   		<text>
			<a href="@Href("~/Account/Login")">Iniciar Sesion</a> |
			
			<a href="@Href("~/Account/Register")">Registrarse</a>
		</text>
   }
}